<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title> Tech Blog </title>
</head>
<body>
    <header>
        <nav>
          <h1> Techie Talk </h1>
            <button>HOME</button>
            <button>DASHBOARD</button>
            {{#unless logged_in }}
            <button>LOG IN</button>
            {{else}}
            <button>LOG OUT</button>
            {{/unless}}
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
</body>
</html>